<html xmlns:th="http://www.thymeleaf.org">
<header>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8" />
    <link href="../static/css/catalogo.css" rel="stylesheet">
</header>

<body>
    <div class="container">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 text-center">
            <h1>Parque Natural</h1>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button class="btn btn-primary"><a href="especies.html">Especies</a></button>
                <button class="btn btn-primary"><a href="areas.html">Areas</a></button>
                <button class="btn btn-primary"><a href="personal.html">Personal</a></button>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
               <h1>Añadir Especie</h1>
                <form role = "form" class = "form-inline" action="/aceptarEspecie" method=post>
                    <input type="text" class = "form-control" placeholder="Nombre Comun" name="nComun" th:value = "${especie.nComun}">
                    <input type="text" class = "form-control" placeholder="Nombre Cientifico" name="nCient" th:value = "${especie.nCient}">
                    <input type="text" class = "form-control" placeholder="Tipo" name="tipo" th:value = "${especie.tipo}">
                    <input type="text" class = "form-control" placeholder="Areas" name="areas" th:value = "${especie.areas}">

                    <input type="submit" value="Añadir">
                </form>
            </div>
        </div>
    </div>
    </body>
</html>